{% extends "base.html" %}
{% block meta %}
<title>DemonKingSwarn's Webpage</title>
<meta name="description" content="My Writings on Linux, Tech and Lifestyle">
<script src="//unpkg.com/alpinejs" defer></script>
{% endblock meta %}
{% block content %}

<header style="font-family:Fira Sans,sans; padding-bottom:1.25rem;">
  <h1 style="font-size:2.5em; margin-bottom:0;"> DemonKingSwarn's Webpage </h1>
</header>
<span>
</span>
<hr>


<div x-cloak>
  <script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('filter', {
            filter: '',

            check(el) {
                return this.filter === '' || el.textContent.includes(this.filter)
            }
        })
    })
</script>
<h2> Filter Categories </h2>
<span x-data>
<button style="margin-left:1rem; margin-right:1rem;" x-on:click="$store.filter.filter = ''">reset</button>
<button style="margin-left:1rem; margin-right:1rem;" x-on:click="$store.filter.filter = '📚'">📚 lifestyle</button>
<button style="margin-left:1rem; margin-right:1rem;" x-on:click="$store.filter.filter = '💻'">💻 tech</button>
<button style="margin-left:1rem; margin-right:1rem;" x-on:click="$store.filter.filter = '🍚'">🍚 recipes</button>
</span>
</div>

<hr>
{% endblock content %}
